.slider .slides li img{
    background-position: right;
}
.pozadina{
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.treca{
    background-image: url("../img/slajder3.jpg");
}
.druga{
    background-image: url("../img/pozadina.jpg");
}
.slika{
    background-image: url("../img/slika3.jpg");
}
nav, .btn{
    background-color:#40466B; 
}
.fixed-top{
    z-index: 999;
}
.sidenav{
    z-index: 1030;
}
.brand-logo, h1 ,h2{
    font-family: 'Parisienne', cursive;
}
.page-footer, .sidenav, .dropdown-content, .btn:hover{
    background-color: #40466B;
}
.divider{
    height: 3px;
}
input::placeholder, textarea::placeholder{
    color: #40466B;
}
input[type=text]:not(.browser-default),input[type=email]:not(.browser-default), .form-control{
    width: 100%;
    font-size: 1rem;
    padding: 0px 0px 0px 5px;
    height: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(64, 70, 107, 0.25);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0px;
}
.form-control{
    padding: 5px;
}
input:focus, textarea:focus, select:focus{
    border-color: #40466B!important;
    box-shadow: 0 0 0 0.2rem rgba(64, 70, 107, 0.25)!important;
}
input,textarea{
    background-color: rgba(255, 255, 255, 0.25)!important;
}
.modal{
    width: 50%;
    height: auto;
    border: 1px solid #fff;
    border-radius: 5%;
}
.modal-footer, .modal-content, .modal-footer a{
    background-color: #40466B!important;
    color: #fff;
}
.okvir{
    background-color: #ebeae8;
    border: 3px solid #fff;
}
.fab, .fas{
    font-size: 25px;
}